@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
    border: 16px solid coral;
    border-top: 16px solid transparent;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;      
}

.spinner P {
  display: block;
  color: crimson;
  width: 10%;
  height: 30%;
  text-align: center;
  display:inline-block;
  text-indent: 15px;
  pointer-events: none;
}

