body {
    background-color: #7cff6b;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#animationWindow path {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
